.outer-payments{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
}

.outer-div-payments{
    display: flex;
    background-color: rgba(113, 113, 113, 0.123);
    width: 500px;
    height: 600px;
    border-radius: 0%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: 'Poppins';
    margin-top: 3%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.text-control-payments{
    text-align: left;
    margin: 10px;
    color: black;
}
.p-names{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.p-text-inputs{
    width: 400px;
}

.cardnumber-input{
    width: 100%;
}

.cvv-input{
    width: 30%;
}

.expiry-inputs{
    display: flex;
    flex-direction: row;
    gap: 25px;
    width: 70%;
    
}


.outer-expiry-inputs{
    width: 200px;
    height: 100px;
    
}